h1{
	font-family:Algerian;
	font-size:72pt;
	color:pink;
	text-align:center;
}
p{
	font-family:Forte;
	font-size:25pt;
	color:white;
	text-align:center;
}
h3{
	font-family:Rockwell Extra Bold;
	font-size:48pt;
	color:white;
	text-align:center;
	
}
ul{
	font-family:Matura Cooper Black;
	font-size:25pt;
	color:white;
	text-align:left;
}
h2{
	font-family:Algerian;
	font-size:72pt;
	color:pink;
	text-align:center;
}
body{
	background:url('images/b12.jpg');
}